.padding {
    margin-top: 25px;
    margin-left: 110px;
    margin-right: 110px;
    margin-bottom: 25px;
    background: #3d3242;
}


.outline {
    box-shadow: 0px 3px 50px 5px hsl(0, 54%, 72%);
}

.header {
    height: 91px;
    background: #212727;
}
.hone {
    float: left;
    height: 91px;
    width: 145px;
}
.image {
    float: left;
}
.image img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 15px;
}
.bio{float: right;}



.nav {
    height: 60px;
    width: 720px;

    float: right;
    margin-right: 10px;
}

.navsection {
    margin: 20px 0px 0px 0px;
}
.navsection ul {
    margin: 0;
    padding: 0;
    display: block;
}
.navsection ul li {
    float: right;
    list-style: none;
    text-decoration: none;
    margin-top: 4%;
}
.navsection ul li a {
    text-decoration: none;
    margin: 2px 8px 2px 8px;
    padding: 7px;

    border-radius: 3px;
    font-size: 12px;
    font-weight: bold;
    color: navajowhite;
}







.content {
    height: 500px;
    background: #212727;
}

.contone {
    background: #212727;
    width: 680px;
    float: left;
    margin-top: 20px;
}
.mybio {
    margin-top: 150px;
    margin-left: 25px;
}

.conttwo {

    width: 440px;
    float: right;
    margin-top: 95px;
    height: 380px;
}

.conimage{}

.conimage img {
    height: 340px;
    width: 300px;
    margin-left: 70px;
    margin-top: 30px;
    box-shadow: 17px -10px 86px 6px #3d4e59;
}




















